# vim: set ft=sh
#
# Used by `hub`
# To set a new github token go to https://github.com/settings/tokens
export GITHUB_TOKEN="{{ (bitwardenFields "item" "1c353612-b2c1-445d-ba43-acd001655a95").token.value }}"


