{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash

{{ range .packages.darwin.brews -}}
brew install {{ . | quote }}
{{ end -}}

{{ range .packages.darwin.casks -}}
brew install --cask {{ . | quote }}
{{ end -}}

{{ else if eq .chezmoi.os "linux" }}
sudo apt update && sudo apt upgrade -y

{{ range .packages.linux.apt -}}
sudo apt install -y {{ . | quote }}
{{ end -}}

{{ range .packages.linux.snap -}}
sudo apt install {{ . | quote }}
{{ end -}}

{{ else }}
   echo "Os system not supported!"
{{ end -}}
